*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Anta";
    src: url("fonts/Anta/Anta-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/static/Oswald-Regular.ttf")
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar li {
    list-style-type: none;
    display: flex;
}

.sidebar a {
    font-size: 1.5rem;
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.sidebar a.active {
    color: red;
    font-size: 2rem;
}

.sidebar a:hover {
    color: blue;
    text-decoration: underline;
}

.container-sidebar {
    display: flex;
    height: 10vh;
    background-color: black;
    width: 100%;
}

.container {
    margin-top: 50px;
    width: 55rem;
    background-color: white;
    height: 100%;
    border: 2px solid black;
    margin-bottom: 50px;
    padding-bottom: 1rem;
}

.contact-info {
    margin-top: 10px;
    margin-left: 20px;
    width: 26%;
    font-family: "Oswald";
    font-size: small;
}

.content h1 {
    display: flex;
    justify-content: center;
    font-family: "Anta";
}

.text {
    margin-left: 7rem;
    margin-top: 0px;
    font-family: "Oswald";
    font-size: 0.9rem;
}

.work {
    margin-left: 7rem;
    margin-bottom: 30px;
    margin-top: 50px;
    font-family: "Anta";
}

.education {
    margin-left: 7rem;
    margin-bottom: 30px;
    font-family: "Anta";
}

.other {
    margin-left: 7rem;
    font-family: "Oswald";
    margin-top: 0px;
    font-size: 0.9rem;
    color: darkblue;
}

@media screen and (max-width: 768px){
    .sidebar a {
        font-size: 1.1rem;
    }
    
    .sidebar a.active {
        font-size: 1.5rem;
        margin-bottom: 5px;
        background-color: white;
        border-radius: 1rem;
        padding: 5px;
        text-decoration: none;
    }

    .container-sidebar{
        height: 15vh;
    }

    .container {
        width: 95vw;
    }

    .contact-info {
        margin-bottom: 30px;
        width: 100%;
        margin-left: 10px;
    }

    .text {
        margin: 0px;
        margin-left: 10px;
    }

    .work {
        margin: 0px;
        margin-top: 25px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .education {
        margin: 0px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .other {
        margin: 0px;
        margin-left: 10px;
    }
}