@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Anta";
    src: url("/fonts/Anta/Anta-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald/static/Oswald-Regular.ttf")
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/matrix\ code.jpg');
    background-repeat: no-repeat;
}

.sidebar {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar li {
    list-style-type: none;
    display: flex;
}

.sidebar a {
    font-size: 1.5rem;
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.sidebar a.active {
    color: red;
    font-size: 2rem;
}

.sidebar a:hover {
    color: blue;
    text-decoration: underline;
}

.container-sidebar {
    display: flex;
    height: 10vh;
    background-color: black;
    width: 100%;
}

#main-headline {
    margin-top: 50px;
    text-align: center;
    background-color: yellow;
    padding: 25px 100px;
    border-radius: 3rem;
    border: solid 1px black;
    font-family: "Roboto";
    font-weight: 600;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 5rem;
    justify-content: space-between;
    align-content: flex-start;
}

.row1, .row2, .row3 {
    padding: 25px;
    width: 40%;
    background-color: white;
    border-radius: 3rem;
    border: solid 1px black;
    font-family: "Roboto";
    font-size: 15px;
    text-align: center;
    height: fit-content;
    margin-bottom: 25px;
}

.content h2 {
    margin: 10px;
    margin-bottom: 30px;
    font-family: "Anta";
}

.content p {
    text-align: left;
    margin-left: 10px;
    font-family: "Oswald";
    font-size: large;
}

.content li {
    text-align: left;
    padding: 10px;
}

.content a {
    font-family: "Roboto";
    font-size: large;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
  }

  .modal-content {
    background-color: white;
    margin: 20% auto; 
    padding: 20px;
    width: 80%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .open-modal-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 25px;
  }

  .close {
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .git {
    border-radius: solid 2px black;
    border-radius: 1rem;
    padding: 5px;
    font-size: small;
    cursor: pointer;
  }